<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer un compte</title>
</head>
<body>
    <h1>Inscription</h1>
    <form method="POST">
        <label>Nom :</label><br>
        <input type="text" name="nom" required><br><br>

        <label>Prénom :</label><br>
        <input type="text" name="prenom" required><br><br>

        <label>IBAN :</label><br>
        <input type="text" name="iban" required><br><br>

        <label>Mot de passe :</label><br>
        <input type="password" name="mot_de_passe" required><br><br>

        <label>Identifiant :</label><br>
        <input type="text" name="id_client" required><br><br>

        <input type="submit" value="Créer le compte">
    </form>
<br>
<p>🔐 Vous avez déjà un compte ? <a href="/login">Connectez-vous ici</a></p>

</body>
</html>
